.footer {
    background-color: #833556;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: #fff;
}

.company-name {
    color: #fff;
    display: inline-block;
}

.copyright {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 0.8rem;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(211,213,226,0.1);
    margin-bottom: 1rem;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 30px;
    height: 30px;
}

.address-title {
    margin: 2rem 0;
    font-weight: 300;
    font-size: 1.25rem;
}

.address p {
    margin-bottom: 1.5rem;
    width: 100%;
    text-decoration: none;
    color: #868c98;
}

.email, .website, .location-info, .phone-no {
    display: flex;
    align-items: center;
}

.explore {
    display: flex;
    flex-direction: column;
}

.explore-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.25rem;
}

.explore a {
    margin-bottom: 1rem;
    width: 100%;
    text-decoration: none;
    color: #868c98;
    font-size: 1rem;
}

.explore a.active {
    color: #FFF;
}

.form-update {
    color: #FFF;
    font-size: 0.8rem;
}

.newsletter input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
}

.newsletter-btn {
    display: block;
    padding: 0.5rem;
    border: 1px solid #4CAF50;
    background-color: #4CAF50;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    font-weight: 300;
    margin-bottom: 2rem;
}

.newsletter-btn:hover {
    background-color: #fff;
    color: #4CAF50;
    border: 1px solid #4CAF50;
}

.footer-social-media {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: flex-start;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .copyright {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .details {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem;
        gap: 5%;
    }

    .footer-name {
        width: 30%;
    }

    .address {
        width: 40%;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 1rem;
    }

    .address h3 {
        margin: 0 0 1rem 0;
    }

    .address p {
        text-align: start;
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }

    .email, .website {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .explore {
        width: 30%;
        align-items: flex-start;
    }

    .explore-title {
        margin-bottom: 1rem;
    }

    .explore a {
        text-align: start;
        width: auto;
        padding: 0 1rem 0 0;
    }

    .newsletter {
        width: 40%;
    }
}