.home-page {
    width: 100%;
}

.landing {
    position: relative;
    width: 100%;
}

.landing-image-container {
    width: 100%;
    height: 100vh;
}

.landing-image-container::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.landing-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.donations-cta {
    text-decoration: none;
    padding: 0.7rem 1.4rem;
    border: 2px solid #833556;
    background-color: #833556;
    letter-spacing: 1px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
}

.donations-cta:hover {
    color: #FFF;
    border: 2px solid #fff;
    background-color: transparent;
}

.about-cta {
    color: #833556;;
}

.landing-text {
    position: absolute;
    color: #fff;
    top: 40%;
    left: 1rem;
    right: 1rem;
    z-index: 3;
}

.landing-major {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.highlight {
    color: #833556;;
}

.welcome {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3%;
}

.welcome-header, .more-info-header {
    margin-bottom: 1rem;
    font-weight: 400;
}

.welcome-image-container {
    margin-bottom: 1rem;
    border-radius: 5px;
}

.column-two {
    margin-bottom: 2rem;
}

.welcome-title {
    color: #833556;
    margin-bottom: 1rem;
    font-weight: 600;
}

.welcome-info-one {
    text-align: justify;
    margin: 1rem 0;
    color: #072366;
}
.welcome-info {
    text-align: justify;
    margin: 1rem 0 2rem 0;
    color: #072366;
}

.more-info {
    background-color: #833556;
    color: #FFF;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3%;
}

.more-info-title {
    margin-bottom: 2rem;
}

.one-item {
    margin-bottom: 2rem;
}

.item-img-container {
    margin-bottom: 1rem;
}

.item-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.item-short {
    font-weight: 300;
}


.volunteer-section {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    gap: 3%;
}

.volunteeer-img-container {
    margin-bottom: 2rem;
}

.volunteer-title {
    color: #833556;
    margin-bottom: 1rem;
    font-weight: 600;
}

.volunteer-short {
    margin-bottom: 1rem;
}

.volunteer-btn {
    padding: 1rem;
    margin: 1rem 0;
    border: 2px solid #833556;
    background-color: #833556;
    text-decoration: none;
    color: #FFF;
}

.volunteer-btn:hover {
    cursor: pointer;
    background-color: transparent;
    color: #833556;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .landing-text {
        top: 35%;
        font-size: 2rem;
    }

    .landing-text {
        left: 2rem;
    }

    .landing-major {
        width: 80%;
    }

    .carousel-cta {
        position: absolute;
        bottom: 20%;
        left: 20%;
        padding: 1rem;
        transform: translate(-50%, -50%);
    } 

    .prev-container {
        top: 40%;
        left: 1rem;
    }

    .next-container {
        top: 40%;
        right: 1rem;
    }

    .welcome {
        padding: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .welcome-header {
        font-size: 2.75rem;
        margin-bottom: 2rem;
    }

    .welcome-content {
        display: flex;
        flex-direction: row;
        gap: 5%;
        align-items: center;
        justify-content: center;
    }

    .welcome-image-container {
        width: 50%;
    }

    .column-two {
        width: 45%;
    }

    .welcome-info {
        margin: 1rem 0;
    }

    .welcome-title {
        font-size: 3rem;
        font-weight: 600;
        color: #833556;
    }

    .more-info-title {
        font-size: 3rem;
        font-weight: 600;
        /* font-family: 'Montserrat'; */
        color: #FFF;
    }

    .more-info {
        padding: 4rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .more-info-title {
        margin-bottom: 2rem;
    }

    .info-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        gap: 3%;
    }

    .one-item {
        width: 60%;
    }

    .item-img-container img{
        margin: 0 auto;
    }

    .volunteer-section {
        padding: 2rem;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .volunteer-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .volunteer-btn {
        display: inline;
        width: 30%;
        text-align: center;
    }

}


/* Medium devices (landscape tablets, 992px and up) */
@media only screen and (min-width: 992px) {
    .landing-major {
        width: 80%;
        font-size: 4.625rem;
    }

    .volunteer-btn {
        display: inline;
        width: 20%;
        text-align: center;
    }
}
